#OKafka common properties for common examples

#Properties to connect to Oracle Database
#Option 1: Connect to Oracle database using plaintext

security.protocol=PLAINTEXT
bootstrap.servers=phoenix307317.dev3sub2phx.databasede3phx.oraclevcn.com:1521
oracle.service.name=cdb1_pdb1.regress.rdbms.dev.us.oracle.com
oracle.net.tns_admin=./src/test/java

#Option 2: Connect to Oracle Database deployed in Oracle Autonomous Cloud using Wallet
#security.protocol=SSL
#oracle.net.tns_admin=<location of Oracle Wallet, tnanames.ora and ojdbc.properties file>
#tns.alias=<tns alias>
